"""
Script for the {{ rule_name }} rule

{{ rule_description}}
"""

import sys
from typing import TYPE_CHECKING

from loguru import logger

if TYPE_CHECKING:  # pragma: no cover
    from snakemake.script import snakemake


def main(smk) -> None:  # type: ignore[no-untyped-def]

    # Setup logging
    logger.remove()
    logger.add(smk.log.loguru)

    # TODO Read snakemake `input:` entries as
    # smk.input.<INPUT_NANME> as needed

    # TODO Read snakemake `output:` entries as
    # smk.output.<OUTPUT_NAME> as needed

    # TODO Read snakemake `params:` entries as
    # smk.params.<PARAM_NAME> as needed

    # TODO Read snakemake `wildcards:` entries as
    # smk.wildcards.<WILDCARD_NAME> as needed

    # Setup loguru logging
    logger.remove()
    logger.add(smk.log.loguru)

    # TODO Enable logging for subprocesses if needed
    # logger.debug("Generating DAG SVG using Snakemake")
    # with (
    #     open(smk.log.stdout, "a") as stdout_log,
    #     open(smk.log.stderr, "a") as stderr_log
    # ):
    #
    #     subprocess.run(
    #         # TODO Fill in command if applicable,
    #         check=True,
    #         text=True,
    #         stdout=stdout_log,
    #         stderr=stderr_log,
    #     )


if __name__ == "__main__":
    try:
        main(snakemake)
    except NameError:
        logger.error(
            "This script is designed to be run as part of a Snakemake workflow. "
            "Please run it through Snakemake."
        )
        sys.exit(0)
