"""Integration tests for building documentation."""

import shlex
import subprocess
from pathlib import Path
from typing import List

import pytest
from loguru import logger


# --- Helpers ----------------------------------------------------------------
def _snakemake(workspace: Path, extra: List[str]) -> None:
    cmd = ["snakemake", *extra]
    logger.debug(f"Executing: {shlex.join(cmd)}")
    subprocess.run(cmd, cwd=workspace, check=True)


# --- Tests ------------------------------------------------------------------
@pytest.mark.order(1)
def test_localize_conda_envs(workspace: Path) -> None:
    """Step 1 - make the env YAML files local."""
    _snakemake(workspace, ["conda_localize"])


@pytest.mark.order(2)
def test_dag_svg(workspace: Path) -> None:
    _snakemake(workspace, ["--dry-run", "{{ rule_name }}"])
