# ABLE Workflow Rule Copier rule `{{ rule_name }}`

{{ rule_description }}

## Updating rule

To update this rule, run the following command in the root of your project:

```bash
conda activate {{ package_name }}-py312-dev
copier update --trust --answers-file ".copier-answers/rule-{{ rule_name }}.yml"
```
